* text=auto

*.txt text
*.md text
*.json text
*.js text
*.ts text
*.html text
*.css text
*.py text
*.java text
*.cs text
*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary

# *.zip filter=lfs diff=lfs merge=lfs -text
# *.mp4 filter=lfs diff=lfs merge=lfs -text

# Alle .txt Dateien im Ordner Interface/Translations/
Interface/Translations/*.txt text working-tree-encoding=utf-16le-bom eol=crlf